

header {
    display: grid;
    grid-template-columns: 25% 25% 20% 15% 15%; 
    background-color: rgba(42, 253, 42, 0.648);
    width: 100%;
    height: 75px;
    z-index: 2;
    p {
        font-size: 25px;
    }
    ul {
        list-style: none;
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: nowrap;
        grid-column: 4/5;
        li {
            a{
                color: black;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-decoration: none;
                padding: 3px;
            }
            &:hover {
                a {
                color: rgb(181, 15, 15);
                }
            }
        }
    }
    .cart-item-wrapper {
        grid-column: 5;
        align-self: center;
        justify-self: center;
        width: 50px;
        height: 50px;
        transition: 0.5s;
        color: rgb(255, 255, 255);
        filter: drop-shadow(2px 2px 4px #000000);

        &:hover {
            transition: 0.5s;
            transform: scale(1.1);
            cursor: pointer;
            filter: drop-shadow(2px 2px 4px #df3669);
            
    }
    }
}