.item-detail-container {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.item-detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-detail-container {
    width: 100%;
    height: 80%;
}

.img-detail-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info-container {
    width: 100%;
    height: 60%;
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.count-container {
    width: 80%;
} 
.count-container a {
    color: black;
    text-decoration: none;
    padding: 10px;
} 

