body {
  background-color: #d2cdcd;
  margin: 0px 0px 0px 0px; }

header {
  display: grid;
  grid-template-columns: 25% 25% 20% 15% 15%;
  background-color: rgba(42, 253, 42, 0.648);
  width: 100%;
  height: 75px;
  z-index: 2; }
  header p {
    font-size: 25px; }
  header ul {
    list-style: none;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: nowrap;
    grid-column: 4/5; }
    header ul li a {
      color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-decoration: none;
      padding: 3px; }
    header ul li:hover a {
      color: #b50f0f; }
