body {
  background-color: #050505;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FFED87'/%3E%3Cstop offset='1' stop-color='%2333EE18'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%2399ee50'/%3E%3Cstop offset='1' stop-color='%2333EE18'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(1780 0)'%3E%3Cg transform='translate(0 315)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-82.8 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.39' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0px 0px 0px 0px; }

.list-item-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

header {
  display: grid;
  grid-template-columns: 25% 25% 20% 15% 15%;
  background-color: rgba(255, 255, 255, 0.861);
  width: 100%;
  height: 75px;
  z-index: 2; }
  header p {
    font-size: 25px; }
  header ul {
    list-style: none;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: nowrap;
    grid-column: 4/5; }
    header ul li a {
      color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-decoration: none;
      padding: 3px; }
    header ul li:hover a {
      color: #b50f0f; }
  header .cart-item-wrapper {
    grid-column: 5;
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    color: #78e8a3;
    filter: drop-shadow(2px 2px 4px #000000); }
    header .cart-item-wrapper:hover {
      transition: 0.5s;
      transform: scale(1.1);
      cursor: pointer;
      filter: drop-shadow(2px 2px 3px #000000); }

.card {
  height: 350px;
  width: 250px;
  text-align: center;
  background-color: white;
  margin: 10px;
  border: 1px solid #2f6ef6;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75); }

.header, .footer, .content {
  width: 100%; }

.header, .footer {
  height: 8%; }

.header {
  border-bottom: 2px solid #121213; }

.footer {
  border-top: 2px solid #121213; }

.content {
  height: 80%; }

.img-container {
  height: 200px;
  padding: 5px; }

.product-img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.item-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap; }

.item-detail-container {
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.item-detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }

.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.img-detail-container {
  width: 100%;
  height: 80%; }

.img-detail-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.info-container {
  width: 100%;
  height: 60%;
  text-align: center;
  padding: 20px;
  color: black;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.count-container {
  width: 80%; }
